html {
}

body {
  background: #f4f4f4;
  border: 0;
  color: #060606;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: #f4f4f4;
  }
}

#v {
  left: -100vw;
  position: absolute;
  top: 0;
}

form {
  margin: 6em 0 0 0;
}

fieldset {
  border: none;
  margin: 0 auto;
  width: 720px;
}

#i {
  background: none;
  border: 0;
  border-bottom: 1px solid #121212;
  display: block;
  font-size: 3rem;
  line-height: 3rem;
  outline: none;
  padding: 0.5em 0.5em 0.125em 0.5em;
  width: 720px;
}

@media (prefers-color-scheme: dark) {
  #i {
    color: #f4f4f4;
    border-bottom-color: #f4f4f4;
  }
}

#i::placeholder {
  font-size: 1.25rem;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  #i::placeholder {
    color: #bbb;
  }
}

#i-s, #i-ms {
  background: none;
  border: none;
  color: #060606;
  cursor: pointer;
  float: right;
  opacity: 0.4;
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  #i-s, #i-ms {
    color: #f4f4f4;
  }
}

#i-s.on, #i-ms.on {
  background: #121212;
  color: #f4f4f4;
  cursor: default;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  #i-s.on, #i-ms.on {
    background: #f4f4f4;
    color: #121212;
  }
}

.cp {
  cursor: copy;
}

#o {
  margin: 2rem auto 0;
  width: 800px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, auto);
  grid-gap: 0;
  grid-template-areas:
    "o-unix-s l-unix-s n-unix-s"
    "o-unix-s d-unix-s n-unix-s"

    "o-unix-s-d l-unix-s-d n-unix-s-d"
    "o-unix-s-d d-unix-s-d n-unix-s-d"

    "o-unix-ms l-unix-ms n-unix-ms"
    "o-unix-ms d-unix-ms n-unix-ms"

    "o-iso-8601-utc l-iso-8601-utc n-iso-8601-utc"
    "o-iso-8601-utc d-iso-8601-utc n-iso-8601-utc"

    "o-iso-8601-loc l-iso-8601-loc n-iso-8601-loc"
    "o-iso-8601-loc d-iso-8601-loc n-iso-8601-loc";
}

#o p {
  margin: 0;
}

#o *:nth-child(4n-3) {
  text-align: left;
}

#o *:nth-child(4n-1) {
  margin-bottom: 1.75rem;
  text-align: center;
}

#o *:nth-child(4n-1)::before {
  content: 'Δ ';
}

#o *:nth-child(4n) {
  text-align: right;
}

#o label {
  display: block;
  font-size: .75rem;
  text-align: center;
  text-transform: uppercase;
}

#o-unix-s { grid-area: o-unix-s; }
#l-unix-s { grid-area: l-unix-s; }
#d-unix-s { grid-area: d-unix-s; }
#n-unix-s { grid-area: n-unix-s; }

#n-unix-s::before {
  content: 'Now: ';
  font-size: .65rem;
  font-weight: bold;
  text-transform: uppercase;
}

#o-unix-s-d { grid-area: o-unix-s-d; }
#l-unix-s-d { grid-area: l-unix-s-d; }
#d-unix-s-d { grid-area: d-unix-s-d; }
#n-unix-s-d { grid-area: n-unix-s-d; }

#o-unix-ms { grid-area: o-unix-ms; }
#l-unix-ms { grid-area: l-unix-ms; }
#d-unix-ms { grid-area: d-unix-ms; }
#n-unix-ms { grid-area: n-unix-ms; }

#o-iso-8601-utc { grid-area: o-iso-8601-utc; }
#l-iso-8601-utc { grid-area: l-iso-8601-utc; }
#d-iso-8601-utc { grid-area: d-iso-8601-utc; visibility: hidden; }
#n-iso-8601-utc { grid-area: n-iso-8601-utc; }

#o-iso-8601-loc { grid-area: o-iso-8601-loc; }
#l-iso-8601-loc { grid-area: l-iso-8601-loc; }
#d-iso-8601-loc { grid-area: d-iso-8601-loc; visibility: hidden;  }
#n-iso-8601-loc { grid-area: n-iso-8601-loc; }

a[href='https://github.com/farski/epoch.place'] {
  color: #060606;
  display: block;
  margin-top: 5rem;
  text-align: center;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a[href='https://github.com/farski/epoch.place'] {
    color: #f4f4f4;
  }
}
